body{
    
    background: url(https://img.jagranjosh.com/images/2022/February/222022/Top-10-most-valuable-companies-in-the-world.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}